<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FriendOrganizerDb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FriendOrganizerDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="FriendOrganizer.UI.Properties.Settings.FriendOrganizerDb"
      connectionString="Data Source=.;Initial Catalog=FriendOrganizer;Integrated Security=True;" />
  </connectionStrings>
</configuration>